.blockStyle{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 70px;
  color: #EDF6F9;
  background-color: #A697FE;
  font-family: Arial;
}

.blockStyle:hover{
  background-color: coral;
}

.engWordStyle{
  display: block;
  position: relative;
  left: 20px;
  top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.korWordStyle{
  display: block;
  position: relative;
  left: 20px;
  top: 15px;
  font-size: 18px;
  font-weight: 400;
}